/tmp
/out-tsc
/data
outputs
.idea
src/frontend/.env
./scripts
logs
uploads
src/backend/README.md
src/backend/MIGRATION.md
object_views

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
*.pyc
__pycache__

.vscode/*